<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>SFSU - CSC 317 - Gator Image</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="shortcut icon" href="/images/main/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <script type="text/javascript" src="/js/sell.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header class="header">  
    </header>

    <!-- Content Body -->
    <main role="main" class="load">
        {{{body}}}
    </main>

    <!-- Footer -->
    <footer class="footer">
    </footer>
</body>

</html>