<div class="container home mt-4">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div id="text">
        <h1>Express</h1>
        <h2>Hello world, I am Osbaldo Martinez</h2>
    </div>
</div>